.header {
  &-main {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    display: inline-block;
  }
  &-phone {
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    color: $gray;
    a {
      font-weight: 600;
      color: inherit;
      margin-left: 20px;
    }
  }
  @include maxW(1023px) {
    &-main {
      padding: 20px 0;
    }
  }
  @include maxW(767px) {
    &-phone {
      display: none;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 0 70px;
  @include maxW(767px) {
    gap: 0 40px;
  }
}
