.footer {
  &-top {
    padding: 150px 0;
    background-color: $gray-dark;
  }
  &-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 0 200px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &-desc {
    font-size: 16px;
    color: $gray-light2;
    line-height: lineH(30, 16);
    margin-bottom: 40px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: $gray-light2;
    transition: color 0.2s linear;
    padding: 5px;
    &:hover {
      color: #fff;
    }
  }
}
