.footer {
  &-top {
    padding: 150px 0;
    background-color: $gray-dark;
  }
  &-main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 0 100px;
  }
  &-logo {
    display: inline-block;
    margin-bottom: 40px;
  }
  &-desc {
    font-size: 16px;
    color: $gray-light2;
    line-height: lineH(30, 16);
    margin-bottom: 40px;
  }
  &-heading {
    color: #fff;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &-item {
    margin-bottom: 30px;
  }
  &-link {
    display: inline-block;
    color: $gray-light2;
    font-size: 16px;
  }
  &-info {
    margin-bottom: 40px;
  }
  &-info li {
    color: $gray-light2;
    line-height: lineH(30, 16);
    font-size: 16px;
  }
  &-info a {
    color: inherit;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: $gray-light2;
    transition: color 0.2s linear;
    &:hover {
      color: #fff;
    }
  }
}
