.partner {
  padding: 150px 0;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px 0;
  }
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 45px;
    img {
      transition: all 0.2s linear;
    }
    &:hover img {
      opacity: 0.3;
    }
  }
}
