.portfolio {
  display: block;
  margin-bottom: 150px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 90px;
    margin-bottom: 100px;
  }
  &-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 90px 0;
  }
  &-image {
    display: block;
  }
  &-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  @include maxW(1279px) {
    &-list {
      grid-gap: 0 70px;
    }
    &-column {
      gap: 70px 0;
    }
  }
  @include maxW(1023px) {
    margin-bottom: 100px;
    &-list {
      grid-gap: 0 20px;
      margin-bottom: 45px;
    }
    &-column {
      gap: 40px 0;
    }
  }
  @include maxW(767px) {
    margin-bottom: 50px;
    &-list {
      grid-template-columns: 1fr;
      grid-gap: 40px 0;
    }
    &-image {
      margin-bottom: 30px;
    }
    &-image img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
