.team {
  padding: 150px 0;
  background-color: $gray-lightest;
  &-main {
    display: flex;
    align-items: center;
    gap: 0 100px;
  }
  &-content {
    max-width: 370px;
    flex-shrink: 0;
  }
  &-images {
    max-width: 700px;
    flex: 1;
  }
}
