.team {
  display: block;
  padding: 150px 0;
  background-color: $gray-lightest;
  &-main {
    display: flex;
    align-items: center;
    gap: 0 100px;
  }
  &-desc {
    margin-bottom: 50px;
  }
  &-images {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  &-image2 {
    margin: 30px 0 0 auto;
  }
  @include minW(1024px) {
    &-content {
      max-width: 370px;
      flex-shrink: 0;
      width: 100%;
    }
    &-images {
      max-width: 670px;
      width: 100%;
    }
  }
  @include maxW(1023px) {
    padding: 100px 0;
    &-main {
      flex-direction: column;
      gap: 50px 0;
    }
  }
  @include maxW(1023px) {
    padding: 70px 0;
  }
}
