$primary-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #393e46;
$gray-dark: #282f3a;
$gray-darkest: #252b36;
$gray-light: #6a727f;
$gray-lightest: #f8f8f9;
$blue-color: #4a44f2;
